:root {
    --debug: red;
    --debug2: blue;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 47px;
    grid-template-areas: "header" "main" "footer";
}

.flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    width: 100%;
    background-color: tomato;
}

.left {
    background-color: var(--debug2);
    float: left;
}

.right {
    background-color: var(--debug);
    float: right;
}

main {
    display: flex;
    margin: auto;
    grid-area: main;
}

footer {
    grid-area: footer;
    display: flex;
    background-color: tomato;
}