:root {
    --debug: red;
    --debug2: blue;
    --google-darken: hsl(0, 0%, 92%);
    --google-blue: #3275e0;
    --off-black: #222;
    --footer: #70757a;
}

body, input, button {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--off-black);
}

a {
    text-decoration: none;
    color: var(--off-black) !important;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
    color: var(--off-black) !important;
}

.circle-dropdown {
    margin: 0 0.5rem;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    opacity: 70%;
}

.circle-dropdown:hover {
    background-color: hsla(0, 0%, 0%, 0.12);
}

.inoperable {
    pointer-events: none;
}

/* Customize the bootstrap sign in button */

.btn-custom {
    background-color: var(--google-blue);
    font-size: 14px;
    padding: 0.4rem 1.4rem;
}

.btn-custom:hover {
    background-color: hsla(217, 74%, 54%, 0.90);
    font-size: 14px;
    padding: 0.4rem 1.4rem;
    box-shadow: 0 0 3px rgba(51, 118, 225, 0.37);
}

#google-logo {
    margin: auto;
}

/* stylize the search field */

.text-platform {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 5000px;
    padding: 0.4rem;
    width: 580px;
}

.text-platform:hover {
    border: 1px solid white;
    box-shadow: 0 1px 5px hsl(0, 0%, 70%);
}

#search-icon {
    margin: 0 0.5rem;
    margin-right: 0.7rem;
    color: hsl(0, 0%, 78%);
}

#mic-icon {
    margin: 0.4rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    color: var(--google-blue);
    font-size: 130%;
}

input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
}

/* stylize the buttons */

input[type="submit"] {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.4rem;
    border: 1px solid white;
}

input[type="submit"]:hover {
    border: 1px solid hsl(0, 0%, 85%);
    box-shadow: 0 1px 1px hsl(0, 0%, 80%);
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 60px 1fr 47px;
    grid-template-areas: "header" "main" "footer";
}

main {
    display: flex;
    margin: auto;
    margin-top: 20vh;
    grid-area: main;
}

.flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin: auto;
}

header {
    padding: 0 1rem;
    width: 100%;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    float: left;
}

.center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    float: right;
}

footer {
    padding: 1rem;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    grid-area: footer;
    background-color: var(--google-darken);
}

.footer>a {
    color: var(--footer);
    margin: 0 1rem;
}

.hidden {
    display: none;
}

@media (max-width: 400px) {
    header {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    footer {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .left {
        flex-direction: column;
        float: unset;
    }
    .right {
        flex-direction: column;
        float: unset;
    }
}